@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Employee Data: </h1>

<p>First Name : @Model.FirstName</p>
<p>Middle Name : @Model.MiddleName</p>
<p>Last Name: @Model.LastName</p>
<p>Address: @Model.Address</p>
<p>Salary: @Model.Salary</p>

<a href="/Employee">Go To All Employee</a>